
body{
	margin:0;
	padding:0;
}

.top{
	position:absolute;
	margin:0;
	padding:0;
	height:20vh;
	width:100%;
	background:url(../img/image.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}

.left{
	margin: 20vh 0 0 0;
	background: #B59771;
	height:80vh;
	width:20%;
}

.list{
	list-style:none;
	display:block;
}

.nav-item{
	display:flex;
	height:20px;
	background:#D02F32;
	margin:20px 0 0 0;
}

